.content {
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #333333;
	padding: 25px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #364368;
}
.head {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	color: #333333;
	border-right-style: none;
	font-weight: bold;
}
.subhead {
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #333333;
	border-right-style: none;
	font-weight: bold;
}
.footer {
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	padding: 6px;
	border: 1px solid #364368;
}
.footer a:link {
	color: #FFFFFF;
	text-decoration: underline;
}
.pagebanner {
	border: 1px solid #364368;
}
.sidemenu {
	border-top: none;
	border-right: 1px solid #364368;
	border-bottom: none;
	border-left: 1px solid #364368;
}
