A:hover {color: #FF0000; text-decoration: underline }
.orangeText {color:orange}
.greenText {color:green}
.redText {color:red}
.blueText {color:#1F4366}
h2 {color:#820707 }
h3 {color:#1F4366 }
h4 {color:#820707 }

h1 {
  border-bottom: 1px dashed #000;
  font-family: arial, helvetica, sans-serif;
  color:#1F4366;
  margin:0 0 .5em 0;
  padding-bottom: 5px;
}

h1 {font-size: 1.25em;}

div.boxForms {
  width: 500px;
  border:1px dotted #999;
	 padding: 10px;
	 margin: 0px 0px 20px 0px; /* or auto for centered */
	 background-color:#FAF3DA;
		text-align:left;
}
div.row {
  clear: both;
  padding-top: 5px;
  }
div.row .textLabel {
  float: left;
  width: 150px;
  text-align: right;
  }
div.row span.formw {
  float: right;
  width: 260px;
  text-align: left;
  }
label.formw {
  float: right;
  width: 260px;
  text-align: left;
  }
div.spacer {
  clear: both;
  }
div.gvtNote {
	border: 2px dotted #999;
	margin-bottom:25px;
	padding: 10px;
	width: auto;
	background-color:#FFF;
}