body { font-family: sans-serif; }
h1,h2,h3,h4 { font-family: sans-serif; }
td.contents { font-family: Helvetica, Arial, sans-serif; color: #000000; 
   background: #ffffff; }
td.header { font-family: Helvetica, Arial, sans-serif; color: #000000; 
   background: #FFD990; font-weight: bold; }
td.subtitle { font-family: Helvetica, Arial, sans-serif; color: #000000; 
   background: #f5f5f5; }
td.text { color: #000000; background: #f5f5f5; ; }
td.title { font-family: Helvetica, Arial, sans-serif; font-size: 200%; 
   color: #ffffff; background: #183C63; }


old header: f8d583