h1,h2,h3,h4 { font-family: sans-serif; }
td.contents { font-family: Helvetica, Arial, sans-serif; color: #000000; 
   font-size: 70%; background: #ffffff; }
td.header { font-family: Helvetica, Arial, sans-serif; color: #000000; 
   font-size: 75%; background: #ffdab9; font-weight: bold; }
td.subtitle { font-family: Helvetica, Arial, sans-serif; color: #000000; 
   font-size: 70%; background: #f5f5f5; }
td.text { color: #000000; font-size: 75%; background: #f5f5f5; ; }
td.title { font-family: Helvetica, Arial, sans-serif; font-size: 200%; 
   color: #ffffff; background: #228b22; }


