body {
	font: 80%/1.5 Verdana, Arial, Helvetica, sans-serif;
	color: #342B7E;
	text-align: center;
	background: #A2ABBE;
	margin: 0;
	padding: 0px;
}

h1 {
	border-left: 18px solid #342B7E;
	padding-left: 1em;
	font-size: 1em;
	width: 40px;
	margin: 20px 0 20px 0;
}

h2 {
	border-left: 15px solid #342B7E;
	padding-left: 1em;
	font-size: 1em;
	width: 40px;
	margin: 20px 0 20px 0;
}

h3 {
	border-left: 10px solid #342B7E;
	padding-left: 1em;
	font-size: 1em;
	width: 40px;
	margin: 20px 0 20px 0;
}

h4 {
	border-left: 6px solid #342B7E;
	padding-left: 1em;
	font-size: 1em;
	width: 40px;
	margin: 20px 0 20px 0;
}

ul {
	margin: 10px;
	padding: 0;
	list-style: none;
}

ul li {
	padding: 0 0 0 17px;
	margin: 0 170px 5px 0;
	background:  url(gm_ulbul.gif) no-repeat;
	line-height: 1.3em;
	text-align: justify;
}

#wrapit {
	width: 600px;
	margin: 0px auto;
	padding: 0;
	background:  url(wrapbg.jpg) no-repeat bottom;
}

#header {
	margin: 0;
	padding: 0;
	height: 335px;
	background:  url(header.jpg) no-repeat;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	margin: 0 0 10px 0;
	padding: 0;
	list-style-type: none;
	background: none;
}

#nav a, a:visited {
	border-left: 10px solid #342B7E;
	padding: 4px 4px 4px 14px;
	font-size: 11px;
	font-weight: bold;
	color: #5F5A9A;
	display: block;
	background: transparent;
	width: 100px;
	text-decoration: none;
}

#nav a:hover {
	border-left: 10px solid #EEEEEE;
	color: #FFFFFF;
}

#contentwrap {
	width: 500px;
	margin: 0 auto;
	text-align: left;
	padding: 0 0 30px 0;
	background: transparent;
}

#left {
	width: 350px;
	padding: 0;
	margin: 0;
	float: left;
}

#left p {
	text-align: justify;
}

#nav {
	width: 120px;
	padding: 0;
	margin: 0;
	float: right;
}

#footer {
	clear: both;
	padding: 10px 0 40px 0;
	margin: 0 20px 0 20px;
	text-align: left;
	border-top: 1px solid #989584;
	font-size: 80%;
}

