/* @override 
	http://misc.library.ucsb.edu/platoff/styles.css */

* {
	font-family: sans-serif;
}

#auidoBlock {
	padding: 8px;
	margin: 8px;
	border-style: outset;
	background-color: silver;
	color: gray;
	-webkit-border-radius:7px 7px 7px 7px ;
}


audio {
	-webkit-box-shadow: 2px 2px 4px #034148;
	-webkit-border-radius:7px 7px 7px 7px ;
}