/* ------- Header Region ------- */
html > body #container {
	border: 12px solid #2867B4;
}
.topnav {
	border-top: 4px solid #2867B4;
}

#header {
	background: #fffffe; /* Old browsers */
	background: -moz-linear-gradient(left, #fffffe 0%, #f6f1d8 100%); /* FF 3.6+ */
	background: -ms-linear-gradient(left, #fffffe 0%,#f6f1d8 100%); /* IE10+ */
  	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fffffe), color-stop(100%,#f6f1d8));	/* Chrome 2+,Safari4+ */
	background: -webkit-linear-gradient(left, #fffffe 0%,#f6f1d8 100%);	/* Chrome10+,Safari5.1+ */
  	background: -o-linear-gradient(left, #fffffe 0%,#f6f1d8 100%);	/* Opera 11.10+ */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffffe', endColorstr='#f6f1d8',GradientType=1 );	/* IE6 - 7 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffffe', endColorstr='#f6f1d8', GradientType=1)"; 	/* IE8 */  
  	background: linear-gradient(left, #fffffe 0%,#f6f1d8 100%); 	/* W3C */
  	height: 100px;
}

#logo-wrapper {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
}

a#logo {
	background: url("imgs/logo.png") no-repeat scroll left top transparent;
	color: transparent;
	display: block;
	height: 57px;
	margin: 20px 0 0 33px;
	width: 299px;
}

#logo span {
	left: -9999px;
	position: absolute;
	text-decoration: none;
	z-index: 50;
}